DSA/MvcApplication1/Service References/AccountsReference/AccountsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5004/AccountsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:import schemaLocation="http://localhost:5004/AccountsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="EntityObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q1:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityObject" nillable="true" type="tns:EntityObject" />
  <xs:complexType name="StructuralObject">
    <xs:sequence />
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="StructuralObject" nillable="true" type="tns:StructuralObject" />
  <xs:complexType name="EntityReferenceOfAccountTypeKmbgGhhj">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AccountType" Namespace="http://schemas.datacontract.org/2004/07/Common" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfAccountTypeKmbgGhhj" nillable="true" type="tns:EntityReferenceOfAccountTypeKmbgGhhj" />
  <xs:complexType name="EntityReference">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RelatedEnd">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q2:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReference" nillable="true" type="tns:EntityReference" />
  <xs:complexType name="RelatedEnd">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="RelatedEnd" nillable="true" type="tns:RelatedEnd" />
  <xs:complexType name="EntityReferenceOfCurrencyKmbgGhhj">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Currency" Namespace="http://schemas.datacontract.org/2004/07/Common" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfCurrencyKmbgGhhj" nillable="true" type="tns:EntityReferenceOfCurrencyKmbgGhhj" />
  <xs:complexType name="EntityReferenceOfFixedRateKmbgGhhj">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="FixedRate" Namespace="http://schemas.datacontract.org/2004/07/Common" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfFixedRateKmbgGhhj" nillable="true" type="tns:EntityReferenceOfFixedRateKmbgGhhj" />
  <xs:complexType name="EntityReferenceOfTransactionTypeKmbgGhhj">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TransactionType" Namespace="http://schemas.datacontract.org/2004/07/Common" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTransactionTypeKmbgGhhj" nillable="true" type="tns:EntityReferenceOfTransactionTypeKmbgGhhj" />
</xs:schema>