DSA/MvcApplication1/Service References/UserReference/UsersService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5004/UsersService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Appointments" nillable="true" type="tns:ArrayOfAppointment" />
          <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HouseName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HouseNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Pin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Town" nillable="true" type="tns:Town" />
          <xs:element minOccurs="0" name="TownID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="TownReference" nillable="true" type="q1:EntityReferenceOfTownKmbgGhhj" />
          <xs:element minOccurs="0" name="UserID" type="xs:int" />
          <xs:element minOccurs="0" name="UserRole" nillable="true" type="tns:UserRole" />
          <xs:element minOccurs="0" name="UserRoleID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="UserRoleReference" nillable="true" type="q1:EntityReferenceOfUserRoleKmbgGhhj" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfAppointment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Appointment" nillable="true" type="tns:Appointment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppointment" nillable="true" type="tns:ArrayOfAppointment" />
  <xs:complexType name="Appointment">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AppointmentID" type="xs:int" />
          <xs:element minOccurs="0" name="AppointmentStatu" nillable="true" type="tns:AppointmentStatu" />
          <xs:element minOccurs="0" name="AppointmentStatuReference" nillable="true" type="q2:EntityReferenceOfAppointmentStatuKmbgGhhj" />
          <xs:element minOccurs="0" name="AppointmentStatusID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="UserReference" nillable="true" type="q2:EntityReferenceOfUserKmbgGhhj" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Appointment" nillable="true" type="tns:Appointment" />
  <xs:complexType name="AppointmentStatu">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q3:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AppointmentStatusID" type="xs:int" />
          <xs:element minOccurs="0" name="Appointments" nillable="true" type="tns:ArrayOfAppointment" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AppointmentStatu" nillable="true" type="tns:AppointmentStatu" />
  <xs:complexType name="Town">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q4:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Country" nillable="true" type="tns:Country" />
          <xs:element minOccurs="0" name="CountryID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CountryReference" nillable="true" type="q4:EntityReferenceOfCountryKmbgGhhj" />
          <xs:element minOccurs="0" name="Town1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TownID" type="xs:int" />
          <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUser" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Town" nillable="true" type="tns:Town" />
  <xs:complexType name="Country">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q5:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Country1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CountryID" type="xs:int" />
          <xs:element minOccurs="0" name="Towns" nillable="true" type="tns:ArrayOfTown" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Country" nillable="true" type="tns:Country" />
  <xs:complexType name="ArrayOfTown">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Town" nillable="true" type="tns:Town" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTown" nillable="true" type="tns:ArrayOfTown" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="UserRole">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q6:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserRole1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserRoleID" type="xs:int" />
          <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUser" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserRole" nillable="true" type="tns:UserRole" />
  <xs:complexType name="ArrayOfUserRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserRole" nillable="true" type="tns:UserRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserRole" nillable="true" type="tns:ArrayOfUserRole" />
</xs:schema>