DSA/MvcApplication1/Service References/AppointmentReference/AppointmentsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AppointmentsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5004/AppointmentsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5004/AppointmentsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5004/AppointmentsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
      <xsd:import schemaLocation="http://localhost:5004/AppointmentsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:5004/AppointmentsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAppointmentsService_GetAppointment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAppointment" />
  </wsdl:message>
  <wsdl:message name="IAppointmentsService_GetAppointment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentsService_AddAppointment_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAppointment" />
  </wsdl:message>
  <wsdl:message name="IAppointmentsService_AddAppointment_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentsService_ChangeStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeStatus" />
  </wsdl:message>
  <wsdl:message name="IAppointmentsService_ChangeStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentsService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IAppointmentsService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentsService_GetAppointmentsNeedingReview_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAppointmentsNeedingReview" />
  </wsdl:message>
  <wsdl:message name="IAppointmentsService_GetAppointmentsNeedingReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppointmentsNeedingReviewResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentsService_SendEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:message name="IAppointmentsService_SendEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="IAppointmentsService">
    <wsdl:operation name="GetAppointment">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentsService/GetAppointment" message="tns:IAppointmentsService_GetAppointment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentsService/GetAppointmentResponse" message="tns:IAppointmentsService_GetAppointment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAppointment">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentsService/AddAppointment" message="tns:IAppointmentsService_AddAppointment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentsService/AddAppointmentResponse" message="tns:IAppointmentsService_AddAppointment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentsService/ChangeStatus" message="tns:IAppointmentsService_ChangeStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentsService/ChangeStatusResponse" message="tns:IAppointmentsService_ChangeStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentsService/DoWork" message="tns:IAppointmentsService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentsService/DoWorkResponse" message="tns:IAppointmentsService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentsNeedingReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentsService/GetAppointmentsNeedingReview" message="tns:IAppointmentsService_GetAppointmentsNeedingReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentsService/GetAppointmentsNeedingReviewResponse" message="tns:IAppointmentsService_GetAppointmentsNeedingReview_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentsService/SendEmail" message="tns:IAppointmentsService_SendEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentsService/SendEmailResponse" message="tns:IAppointmentsService_SendEmail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAppointmentsService" type="tns:IAppointmentsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAppointment">
      <soap:operation soapAction="http://tempuri.org/IAppointmentsService/GetAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAppointment">
      <soap:operation soapAction="http://tempuri.org/IAppointmentsService/AddAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeStatus">
      <soap:operation soapAction="http://tempuri.org/IAppointmentsService/ChangeStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IAppointmentsService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentsNeedingReview">
      <soap:operation soapAction="http://tempuri.org/IAppointmentsService/GetAppointmentsNeedingReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="http://tempuri.org/IAppointmentsService/SendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AppointmentsService">
    <wsdl:port name="BasicHttpBinding_IAppointmentsService" binding="tns:BasicHttpBinding_IAppointmentsService">
      <soap:address location="http://localhost:5004/AppointmentsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>