DSA/MvcApplication1/Service References/AppointmentReference/AppointmentsService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5004/AppointmentsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
  <xs:element name="GetAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetAppointmentResult" nillable="true" type="q1:Appointment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="a" nillable="true" type="q2:Appointment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAppointmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appid" type="xs:int" />
        <xs:element minOccurs="0" name="statusid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointmentsNeedingReview">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointmentsNeedingReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetAppointmentsNeedingReviewResult" nillable="true" type="q3:ArrayOfAppointment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="destinationaddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>